<header class="header menu_fixed" >
<a class="navbar-brand logo1" href="/"><img src="static/img/logo.png" width=300 class="logo-dark" style="width:124px; height:126px;"><img src="static/img/logo-light.png" width=300 class="logo-light" style="width:124px; height:126px;"></a>
<label class="switch">
			<input type="checkbox" class="togglebtn">
			<span class="slider round"></span>
		</label>
	<nav class="navbar navbar-nav navbar-expand-lg " style="    float: right; color:white; padding-right: 50px;">
		<b>MARKETING GENIE <i class="fa-solid fa-wand-sparkles"></i></b>
	
	</nav>
</header>